@media (max-width:1555px) {
    .buy_fullcontent__inner {
        display: grid;
    }

    .buy-section {
        height: 592px;
    }

    .buy_fullcontent-item {
        margin-top: 17px;
    }
}

@media (max-width:1200px) {
    .site-type_inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .site-type_item {
        margin-right: 20px;
        margin-top: 20px;
        margin: 20px 20px 0;
    }

    .site-type-title {
        padding-left: 17%;
    }

    .bonus-target_item {
        display: none;
    }

    .price-form {
        max-width: 1170px;
    }

    .prise-cirkle {
        display: none;
    }

    .price-form {
        box-shadow: none;
        width: auto;
    }

    .developer-rectangle {
        margin-left: 25%;
    }

    .about__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about-quality-img2 {
        margin-left: 29%;
    }
}

@media (max-width:1000px) {
    .create-notebook {
        margin-top: 170px;
    }

    .present {
        display: none;
    }

    .developer-rectangle {
        margin-left: 30%;
    }

    .about-quality_item {
        img {
            margin-left: 18%;
        }
    }

    #about-quality-img2 {
        margin-left: 31%;
    }
}

@media (max-width:870px) {

    .create-phone,
    .create-notebook {
        display: none;

    }


    .site-type-title {
        padding-left: 1%;
    }

    .create__item-adaptive {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .create__phone-adaptive {
        display: block;
        margin-left: 0;
        height: auto;
    }

    .create__phone-adaptive {
        margin-left: 0;
    }

    .create__inner {
        display: block;
    }

    .form-target__form {
        justify-content: center;
        flex-wrap: wrap;
    }

    .price-form-rectangls {
        display: none;
    }

    .target-question {
        width: auto;
    }

    .prise-subtitle {
        margin: 20px auto 0;
    }

    .about-quality_item {
        img {
            margin-left: 22%;
        }
    }

    .developer-rectangle {
        margin-left: 36%;
    }

    #about-quality-img2 {
        margin-left: 36%;
    }

    .buy-section {
        position: absolute;
        z-index: 10;
    }

    .buy-conten__inner {
        width: auto;
    }


}

@media (max-width:782px) {
    .buy-content__item {
        margin-bottom: 10px;
    }

    .buy-section {
        height: 706px;
    }

    .buy-conten__inner {
        justify-content: center;
    }
}

@media (max-width:740px) {
    .project__inner {
        display: none;
    }

    .exampl__item-mobile {
        display: none;
    }

    #about-quality-img2 {
        margin-left: 41%;
    }
}

@media (max-width:690px) {
    .header-info {
        display: none;

        a {
            display: none;
        }
    }

    .site-type-title {
        width: auto;
        font-size: 24px;
        padding-left: 5%;
    }

    .rectangle {
        width: 74px;
        height: 39px;
    }

    .header-logo {
        margin-top: 20px;

        p {
            font-size: 24px;
        }

        img {
            width: 36px;
            height: 29px;
            padding-top: 26px;
        }
    }

    .type-title_adaptive {
        margin: 0 20%;

        p {
            width: 123px;

        }
    }

    .target-question {
        font-size: 21px;
        line-height: 21px;
    }

    .prise-subtitle {
        font-size: 21px;
    }

    .price-title {
        display: block;
        padding-top: 19px;
        margin-left: 30%;
    }

    .create-offer {
        h2 {
            font-size: 24px;
            width: auto;
            line-height: 29px;
        }

        h3 {
            font-size: 24px
        }
    }

    .bonuse-rectangls {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .phone-rectangl {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .submit-rectangl {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .developer-rectangle {
        width: 133px;
        margin-top: -30px;
        margin-left: 27;
    }

    .about-quality_item {
        img {
            margin-left: 28%;
        }
    }

    #about-quality-img2 {
        margin-left: 46%;
    }
}

@media (max-width:666px) {
    .buy_fullcontent-item {
        img {
            height: auto;
            width: 100%;
            position: relative;
        }
    }

    .buy-section {
        height: 792px;
    }

    .vector2 {
        margin-left: 0;
        width: 100%;
    }

    .vector1 {
        width: 100%;
        margin-left: 0;
    }

    .vector3 {
        margin-left: 0;
    }
}

@media (max-width:580px) {
    #about-quality-img2 {
        margin-left: 55%;
    }

    .buy-section {
        height: 750px;
    }
}

@media (max-width:490px) {
    .type-title_adaptive {
        margin: 0;
    }

    .prise-subtitle {
        width: auto;
    }

    .form3__item {
        width: 280px;
        height: 199px;
        padding-top: 15px;
    }

    .developer-rectangle {
        margin-left: 34%;
    }

    .about-quality_item {
        img {
            margin-left: 40%;
        }
    }

    #about-quality-img2 {
        margin-left: 68%;
    }

    .buy-section {
        height: 702px;
    }
}

@media (max-width:450px) {
    .about-quality_item {
        height: 140px;
        margin-right: 0;
        margin-left: -10%;

        p {
            margin-left: 14px;
            margin-top: 44px;
        }

        img {
            width: 153px;
        }
    }

    #about-quality-img1 {
        width: auto;
    }

    #about-quality-img2 {
        width: auto;

    }

    #about-quality-img3 {
        width: auto;
        margin-top: 66px;
        margin-left: 287px;
    }

    #about-quality-img1 {
        margin-top: 0;
    }

    #about-quality-img2 {
        margin-left: 55%;
    }

    #about-quality-img3 {
        margin-left: 226px;
    }

    .about-quality_container {
        margin-left: -15%;
        width: 310p
    }

    .about-quality_item {
        width: 310px;

        img {
            margin-left: 41%;
            margin-top: 25px;
        }
    }

    .maim-programmer {
        width: 100%;
    }

    .exampl__item {
        img {
            max-width: 100%;
        }
    }

    .buy-section {
        height: 680px;
    }
}

@media (max-width:390px) {
    .create-rectangle_titile {
        margin-top: 12px;
    }

    .create-rectangle {
        width: 297px;
        height: 62px;
    }



    .type-img {
        margin: 35px 24px 35px 10px;
    }

    .create-rectangle_book {
        width: 171px;
        height: 130px;
        margin-left: 141px;
        margin-top: -93px;
    }

    .site-type_item {
        width: 300px;

        margin-right: -20px img {
            width: 283px;
            height: 218px;
            margin: 35px 2px 35px 8px;
        }
    }

    .old-price {
        margin: 23px 108px 23px 111px;
    }

    .type-price {
        margin-left: 85px;
    }

    .type-about_rectangle {
        width: 180px;
        height: 53px;

        p {
            padding: 16px 49px 25px;
        }
    }

    .form-next_rectangle {
        p {
            padding: 0px 51px 18px;
        }

        img {
            margin-top: 24px;
            margin-left: -30px;
        }
    }

    .type-img_last {
        width: 280px;
    }

    .phone-rectangl {
        height: 53px;
        width: 224px;

        img {
            margin-left: 9px;
            margin-top: 18px;
        }
    }

    #about-quality-img2 {
        margin-left: 70%;
    }

    .buy-section {
        height: 736px;
    }

    .buy-item-text {
        width: 228px;
    }

    .buy-title {
        margin-left: 4%;
    }
}

@media (max-width:381px) {
    .site-type-title {
        font-size: 20px;
        margin-left: 0;

    }

    .rectangle {
        width: 60px;
        height: 34px;
        margin-top: -5px;
    }

    .developer-rectangle {
        width: 108px;
        height: 30px;
        margin-top: -24px;
        padding-top: 2px;
        margin-left: 35%;
    }

    .about-quality_container {
        margin-left: 0px;
    }

    .about-quality_container {
        margin-left: -49px;
    }

    .about-title {
        p {
            margin-top: -36px;
        }
    }

    .buy-section {
        height: 784px;
    }
}