@media (max-width:1200px) {
    .site-type_inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .site-type_item {
        margin-right: 20px;
        margin-top: 20px;
        margin: 20px 20px 0;
    }

    .site-type-title {
        padding-left: 17%;
    }

    .bonus-target_item {
        display: none;
    }

    .price-form {
        max-width: 1170px;
    }

    .prise-cirkle {
        display: none;
    }

    .price-form {
        box-shadow: none;
        width: auto;
    }

    .developer-rectangle {
        margin-left: 25%;
    }
}

@media (max-width:1000px) {
    .create-notebook {
        margin-top: 170px;
    }

    .present {
        display: none;
    }

    .developer-rectangle {
        margin-left: 30%;
    }
}

@media (max-width:870px) {

    .create-phone,
    .create-notebook {
        display: none;

    }


    .site-type-title {
        padding-left: 1%;
    }

    .create__item-adaptive {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .create__phone-adaptive {
        display: block;
        margin-left: 0;
        height: auto;
    }

    .create__phone-adaptive {
        margin-left: 0;
    }

    .create__inner {
        display: block;
    }

    .form-target__form {
        justify-content: center;
        flex-wrap: wrap;
    }

    .price-form-rectangls {
        display: none;
    }

    .target-question {
        width: auto;
    }

    .prise-subtitle {
        margin: 20px auto 0;
    }

    .developer-rectangle {
        margin-left: 36%;
    }
}

@media (max-width:740px) {
    .project__inner {
        display: none;
    }

    .exampl__item-mobile {
        display: none;
    }
}

@media (max-width:690px) {
    .header-info {
        display: none;

        a {
            display: none;
        }
    }

    .site-type-title {
        width: auto;
        font-size: 24px;
        padding-left: 5%;
    }

    .rectangle {
        width: 74px;
        height: 39px;
    }

    .header-logo {
        margin-top: 20px;

        p {
            font-size: 24px;
        }

        img {
            width: 36px;
            height: 29px;
            padding-top: 26px;
        }
    }

    .type-title_adaptive {
        margin: 0 20%;

        p {
            width: 123px;

        }
    }

    .target-question {
        font-size: 21px;
        line-height: 21px;
    }

    .prise-subtitle {
        font-size: 21px;
    }

    .price-title {
        display: block;
        padding-top: 19px;
        margin-left: 30%;
    }

    .create-offer {
        h2 {
            font-size: 24px;
            width: auto;
            line-height: 29px;
        }

        h3 {
            font-size: 24px
        }
    }

    .bonuse-rectangls {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .phone-rectangl {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .submit-rectangl {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .developer-rectangle {
        width: 133px;
        margin-top: -30px;
        margin-left: 27;
    }

}

@media (max-width:490px) {
    .type-title_adaptive {
        margin: 0;
    }

    .prise-subtitle {
        width: auto;
    }

    .form3__item {
        width: 280px;
        height: 199px;
        padding-top: 15px;
    }

    .developer-rectangle {
        margin-left: 34%;
    }
}

@media (max-width:390px) {
    .create-rectangle_titile {
        margin-top: 12px;
    }

    .create-rectangle {
        width: 297px;
        height: 62px;
    }



    .type-img {
        margin: 35px 24px 35px 10px;
    }

    .create-rectangle_book {
        width: 171px;
        height: 130px;
        margin-left: 141px;
        margin-top: -93px;
    }

    .site-type_item {
        width: 300px;

        margin-right: -20px img {
            width: 283px;
            height: 218px;
            margin: 35px 2px 35px 8px;
        }
    }

    .old-price {
        margin: 23px 108px 23px 111px;
    }

    .type-price {
        margin-left: 85px;
    }

    .type-about_rectangle {
        width: 180px;
        height: 53px;

        p {
            padding: 16px 49px 25px;
        }
    }

    .form-next_rectangle {
        p {
            padding: 0px 51px 18px;
        }

        img {
            margin-top: 24px;
            margin-left: -30px;
        }
    }

    .type-img_last {
        width: 280px;
    }

    .phone-rectangl {
        height: 53px;
        width: 224px;

        img {
            margin-left: 9px;
            margin-top: 18px;
        }
    }

    .developer-rectangle {}

}

@media (max-width:381px) {
    .site-type-title {
        font-size: 20px;
        margin-left: 0;

    }

    .rectangle {
        width: 60px;
        height: 34px;
        margin-top: -5px;
    }

    .developer-rectangle {
        width: 108px;
        height: 30px;
        margin-top: -24px;
        padding-top: 2px;
        margin-left: 35%;
    }
}