@import"vars";
@import"global";
@import"fonts";


// .header {
//     // background-image: url(../img/baskground__header.png)
//     background-image: url(../img/baskground__header.png)
// }
.container {
    width: 1170px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;

}

.header__item {
    z-index: 1;
}

.img-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 750px;
    max-width: 1511px;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.header-row {
    background: #222222;
    width: 25px;
    height: 1px;
    margin-top: 6px;
}

.header-row:last-child {
    width: 19px;
}

.menu-block {
    display: flex;
    // margin-top: 81px;
    padding-top: 45px;

    &-btn {
        margin-right: 11px;
    }

    &-text {
        margin-right: 29px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &-like {
        margin-right: 14px;
    }
}

.header-logo {
    display: flex;

    &_text {
        font-size: 36px;
        text-transform: uppercase;
    }

    &_img {
        width: 63px;
        height: 48px;
        padding-top: 35px;
    }
}

.header-info {
    margin-top: 25px;
}

.header-info_phone {
    color: $main;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.header-info_rectangle {
    width: 140px;
    height: 25px;
    border-radius: 67px;
    background-color: #2AD200;
    margin-top: -10px
}

.header-info_text {
    font-weight: 300;
    font-size: 14px;
    color: $main;
    margin-left: 24px;
    padding-top: 4px;
}

.header-info_circle {
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-left: 8px;
    margin-top: 7px;
}

.create__inner {
    display: flex;
    justify-content: space-between;
}

.create-offer_title {
    font-weight: 600;
    font-size: 56px;
    line-height: 35px;
    margin-top: 130px;
    width: 637px;

    p {
        color: #45C436;
    }
}

.create-info {
    display: flex;
    margin-top: 39px;
}

.create-offer_subtile {
    font-weight: 400;
    font-size: 34px;
    margin-top: 20px;
}

.create-info_title {
    width: 342px;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;

    a {
        color: $green;
    }
}

.create-lightning {
    width: 39.3px;
    height: 37.28px;
}

.create-rectangle {
    width: 324px;
    height: 72px;
    margin-top: 66px;
    position: relative;
    background: linear-gradient(291.31deg, rgba(0, 0, 0, 0.2) 3.27%, rgba(0, 0, 0, 0) 66.8%), #45C436;
    border-radius: 61px;

}

.create-rectangle_titile {
    padding-top: 19px;
    padding-left: 43px;
    width: 131px;
    color: #fff;
    font-family: "Roboto-Regular", sans-serif;
}

.create-rectangle_book {
    width: 204px;
    height: 153px;
    position: absolute;
    margin-left: 159px;
    margin-top: -104px;

}

// .create-notebook {}
.create-phone {
    position: absolute;
    top: 487px;
    margin-left: -39%;
}

.create-notebook {
    margin-top: 40px;
}

.site-type {
    margin-top: 150px;

    &-title {
        width: 631px;
        // height: 55px;
        font-weight: 600;
        font-size: 46px;
        padding-left: 30%;
        display: inline-flex;
    }
}

.rectangle {
    width: 144px;
    height: 78px;
    border: 1px solid #45c436;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 48%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-top: -7px;
}

.site-type_inner {
    display: flex;
    justify-content: space-between;
}

.site-type_item {
    width: 370px;
    height: 591px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
}

.type-title {
    color: #222;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    margin: 0px auto;
    padding: 30px 0;
    width: 205px;


}

.type-title_first {
    width: 100px;
}

.type {
    &-row {
        width: 370px;
        height: 1px;
        background: rgba(196, 196, 196, 0.39);
    }

    &-img {
        margin: 35px 39px 35px 43px;
        height: 217px;
    }

    &-price {
        font-weight: 400;
        font-size: 24px;
        color: $green;
        margin-left: 108px;
        margin-bottom: 23px;
    }
}

.old-price {
    font-weight: 400;
    font-size: 18px;
    color: #989897;
    margin: 23px 140px;

    &_row {
        background: rgba(255, 52, 52, 0.6);
        width: 101px;
        height: 1px;
        margin-left: -10px;
        margin-top: -10px;
    }
}

.type-about_rectangle {
    width: 227px;
    height: 72px;
    background: linear-gradient(288.46deg, rgba(0, 0, 0, 0.2) -12.86%, rgba(0, 0, 0, 0) 66.5%), #45C436;
    border-radius: 126px;
    margin: 0 73px 0 70px;

    p {
        padding: 26px 68px 25px;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        font-family: Roboto-Regular;
    }
}

.price-rectangle {
    width: 216px;
}

.prise-cirkle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #45C436;
    box-shadow: inset 0px 0px 5px #FFFFFF;
    position: absolute;
    margin-left: 18%;
    margin-top: 14px;
}

.price-title {
    margin-left: 12%;
    margin-top: -27px;
}

.price-section {
    margin-top: 150px;
}

.prise-subtitle {
    width: 479px;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 58px;
}

.price-form {
    background: #FFFFFF;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    width: 1170px;
    height: 597px;
}

.form-left-section {
    width: 686px;
}

.form__inner {
    display: flex;
}

.form__item {
    margin-left: 50px;
}

.price-form-rectangls {
    padding-top: 45px;
    display: flex;
    justify-content: space-around;
}

.price-form-rectangl {
    width: 150px;
    height: 13px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 89px;
}

.active-rectangle {
    background: linear-gradient(291.31deg, rgba(0, 0, 0, 0.2) 3.27%, rgba(0, 0, 0, 0) 66.8%), #45C436;
}

.question-number {
    width: 103px;
    margin: 40px auto 0;
    font-family: "Roboto-Regular", sans-serif;
    color: $main;
    font-weight: 400;
    font-size: 14px;
}

.target-question {
    margin: 15px auto 0;

    font-weight: 600;
    font-size: 34px;
    font-family: "Roboto-Regular", sans-serif;
    width: 435px;
}

.form-target_item {
    margin-top: 40px;
    width: 160px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    border-radius: 9px;
}

.target-item_img {
    width: 80px;
    height: 78px;
    display: block;
    margin: 20px auto 10px;
}

.form-target-element {
    display: flex;
    justify-content: space-between;
}

.target-item_title {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.bonus-target_item {
    width: 320px;
}

.form-info-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 266px;
}

.form-next_rectangle {
    display: flex;
    margin-top: 66px;
    margin: 60px auto 0;

    img {
        width: 7px;
        height: 13px;
        margin-top: 30px;
        margin-left: -56px;

    }

    p {
        padding: 7px 79px 25px;
    }
}

.form-main-people {
    position: absolute;
    z-index: 0;
}

.form-people_background {
    display: flex;
}

.bonus-item_rectangle {
    background: #FFD25A;
    border-radius: 9px 9px 0px 9px;
    width: 160px;
    height: 512px;
    margin-top: 50px;

    &:last-child {
        background: #45C436;
        border-radius: 9px;
    }
}

.bonus-item-cirkle {
    background: #FFD25A;
    filter: blur(10px);
    width: 40px;
    height: 40px;
    margin-left: 54%;
    margin-top: 27px;
}

.bonus_form_rectangle {
    background: linear-gradient(142.06deg, rgba(255, 255, 255, 0) 21.05%, #FFFFFF 81.56%), rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border-radius: 9px;
    width: 324px;
    height: 226px;
    position: absolute;
    margin-top: -226px;
    z-index: 14;
}

.form-help-text {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    width: 284px;
    margin: 19px auto 0;
}

.bonus-rectangle {
    border: 1px solid #45C436;
    box-sizing: border-box;
    border-radius: 9px;
    width: 114px;
    height: 44px;
    margin-top: 16px;

    p {
        text-align: center;
        margin-top: 12px;
    }
}

.form-info-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: -30px;
    margin-left: 19px;
}

.question-form_flex {
    display: flex;
    justify-content: space-around;

}

@import 'media';